@tailwind base;

body {
    @apply font-sans bg-indigo-100;
    margin: 30px 0;
}

h1 {
    @apply text-3xl mb-2;
}
h2 {
    @apply text-2xl mb-2;
}
h3 {
    @apply text-xl mb-1;
}
h4 {
    @apply text-lg mb-1;
}
h5 {
    @apply text-base mb-1;
}

a {
    @apply text-blue-500 font-semibold;

    &:hover {
        @apply text-blue-700;
        text-decoration: underline;
    }
}

@tailwind components;
@tailwind utilities;
